main.l-main{
  margin-top: 40px;;
}
.product-detail {
	width: 100vw;
	height: 100vh;
	display: flex;
}

.imagery {
	flex: 1 1 60%;
	width: 60%;
	padding: 50px 100px;
	background-color: #212121;
	transition: 0.4s;
}
.imagery .cloudimage-360 {
	width: 50%;
	/* height: 100%; */
	object-fit: contain;
	object-position: top;
	animation: fadein .1s ease-in-out forwards, float 6s ease-in-out infinite;
	animation-delay: 0.5s;
	opacity: 0;
  position: absolute;
  top: 70px;
}

.detail {
	flex: 1 1 40%;
	width: 40%;
	padding: 50px;
}

.detail h1 {
	color: #212121;
	font-size: 32px;
	font-weight: 900;
}
.detail h2 {
	color: #53565A;
	font-size: 22px;
	font-weight: 700px;
}
.detail h3 {
	color: #53565A;
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 50px;
}

.btn_grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}

.btn_grid .btn_wrap {
	flex: 1 1 50%;
	width: 50%;
	padding: 15px;
}

button {
	display: block;
	width: 100%;
	padding: 15px;

	appearance: none;
	outline: none;
	background: none;
	cursor: pointer;
	border: 2px solid #EEE;

	color: #313131;
	font-size: 20px;
	font-weight: 700;

	transition: 0.4s;
}
button:hover {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

button.size {
	position: relative;
	z-index: 1;
}
button.size::before,
button.size::after {
	content: '';
	position: absolute;
	top: -3px;
	left: -3px;
	right: -3px;
	bottom: -3px;
	transition: 0.4s;
}
button.size::after {
	z-index: -1;
	background-color: #FFF;
	border: 3px solid #EEE;
}
button.size::before {
	z-index: -2;
	background-image: linear-gradient(to right, #212121, #908e92);
}
button.size.selected::after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.colours .btn_wrap .black.selected {
	background-color: #212121;
	color: #FFF;
}

.colours .btn_wrap .lundmark.selected {
	background-color: #b5af8b;
	color: #FFF;
}

.colours .btn_wrap .glow.selected {
	background-color: #89cd6d;
	color: #212121;
}

.colours .btn_wrap .beluga.selected {
	background-color: #706866;
	color: #fff;
}

.colours .btn_wrap .clay.selected {
	background-color: #ef9155;
	color: #FFF;
}

.colours .btn_wrap .white.selected {
	background-color: #EEE;
	color: #212121;
}

.submit {
	margin-top: 50px;
	background-image: linear-gradient(to right, transparent 50%, #212121 50%, #212121 100%);
	background-size: 200%;
	background-position: 0% 50%;
	transition: 0.8s;
}
.submit:hover {
	color: #FFF;
	background-position: 100% 50%;
}

@keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}



@media screen and (max-width: 768px) {
	.product-detail {
		height: auto;
    flex-direction: column;
}
	.imagery {
		flex: 1 1 100%;
		width: 100%;
		padding: 50px 20px;
		max-height: 400px;
	}
	.imagery .cloudimage-360 {
		width: 100%;
		top: -100px;
	}
	.detail {
		flex: 1 1 100%;
		width: 100%;
		padding: 20px 20px;
	}
	.detail h1 {
    color: #212121;
    font-size: 26px;
    font-weight: 900;
}

	.detail h3 {
		font-size: 16px;
    margin-bottom: 10px;
}
	.btn_grid {
    margin: 0px -15px;
    flex-direction: column;
    display: grid;
    grid-template-columns: auto auto auto;
}

	.btn_grid .btn_wrap {
		flex: 1 1 100%;
		width: 100%;
	}
}
	
